@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,body{
font-family: 'Inter', sans-serif;
}

*{
  box-sizing: border-box;
} 

body {
  background-color: #282D35;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 90px;
}

.nav--titleText {
  color:white;
  font-weight: 600;
}

.nav--logoText {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 20;
}

.nav--logo {
  height: 30px;
  margin-right: 10px;
}

.mainContent {
  padding: 60px 30px;
  color: white;
}

.main--titleText {
  letter-spacing: -0.05em;
  margin: 0;
  font-size: 40px;
}

.main--list {
  margin-top: 45px;
  max-width: 400px;
}

.main--list > li {
  line-height: 20px;
  padding-block: 10px;
}
